<span>Disponibilités<span class="text-danger">*</span>:</span>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Jour</th>
			<th colspan="2">Matin</th>
			<th colspan="2">Après midi</th>
			<th>Toute la journée</th>
		</tr>
	</thead>
	<tbody>
		{% for calendar in calendars %}
			<tr>
				<td>{{ calendar.today }}</td>
				<td>{{ calendar.morning }}</td>
				{% if calendar.isMorning == true %}
					<td class="text-bg-success text-center"><input type="radio" class="form-check-input" name="dateChoice" value="{{calendar.codeMorning}}" disabled></td>
				{% else %}
					<td class="text-bg-success text-center"><input type="radio" class="form-check-input" name="dateChoice" value="{{calendar.codeMorning}}" required></td>
				{% endif %}
				<td>{{ calendar.afternoon }}</td>
				{% if calendar.isAfternoon == true %}
					<td class="text-bg-success text-center"><input type="radio" class="form-check-input" name="dateChoice" value="{{calendar.codeAfternoon}}" disabled></td>
				{% else %}
					<td class="text-bg-success text-center"><input type="radio" class="form-check-input" name="dateChoice" value="{{calendar.codeAfternoon}}"></td>
				{% endif %}
				{% if calendar.isAllDay == true %}
					<td class="text-bg-success text-center"><input type="radio" class="form-check-input" name="dateChoice" value="{{calendar.codeAllDay}}" disabled></td>
				{% else %}
					<td class="text-bg-success text-center"><input type="radio" class="form-check-input" name="dateChoice" value="{{calendar.codeAllDay}}"></td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
