{% extends 'base.html.twig' %}

{% block title %}
	{{product.name}}
{% endblock %}

{% block body %}
	<div style="background:url(https://picsum.photos/500/500); no-repeat" class="py-5 text-white text-center">
		<h1>My First Bootstrap 5 Page</h1>
		<p>Resize this responsive page to see the effect!</p>
	</div>
	{% include 'shared/_navbar.html.twig' %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-5">
				<img class="img-fluid" src="https://picsum.photos/600/600" alt="">
			</div>
			<div class="col">
				<h1>{{ product.name}}({{product.price/100}}€)</h1>
				{# <span class="badge bg-primary">{{ product.tresse.gender }}</span> #}
				<p>{{ product.description }}</p>
				<form method="POST">
					<div class="col-9">
						<fieldset class="product-border">
							<legend class="legend-product-border">
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" id="mySwitch" name="deplacement">
									<label class="form-check-label" for="mySwitch">Je me deplace chez vous !</label>
								</div>
							</legend>
							<div class="row">
								<div class="col">
									<div class="mb-3 mt-3" id="encart-me-deplacer">
										<img class="img-fluid" src="{{ asset('images/monadresse.png') }}" alt="">
										<label for="mon-address">Mon adrese complet:</label>
										<textarea class="form-control" rows="4" id="mon-address" name="mon-address"></textarea>
									</div>
									<div id="address-client">
										<label for="address-shift">Entrer votre adresse complet:</label>
										<textarea class="form-control" rows="4" id="address-shift" name="address-shift"></textarea>
										<div class="mb-3 mt-3">
											<div class="input-group mb-3">
												<span class="input-group-text">Frais de déplacement</span>
												<input type="text" class="form-control" id="frais-deplacement" name="frais-deplacement" value="10€" readonly>
											</div>
										</div>
									</div>
								</div>
								<div class="mb-3 mt-3 text-center input-group">
									<span class="input-group-text">Nombre de personnes à tresser:</span>
									<input type="number" class="form-control-sm" id="number-girl" name="number-girl" min="1" max="5">
								</div>
							</div>
						</fieldset>
						{{ render(controller('App\\Controller\\CalendarController::index')) }}
						<div class="d-grid mb-5">
							<button type="submit" class="btn btn-primary btn-block">Valider</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(function () {
$('#mon-address').val('Chez moi !\nAdresse: 10 Allée des cèdres 93420 Villepinte\nBâtiment: A\nTéléphone: 06 00 00 00 00');
$("#address-client").hide();
$("#mySwitch").click(function () {
if ($(this).is(":checked")) {
$("#address-client").show();
$('#encart-me-deplacer').hide();
} else {
$("#address-client").hide();
$('#encart-me-deplacer').show();
}
});
});
	</script>
{% endblock %}
