{% extends 'base.html.twig' %}

{% block title %}
	{{tresse.title}}
{% endblock %}

{% block body %}
		<div class="row mt-5">
			<div class="col-5">
				<img class="img-fluid" src="{{ tresse.image }}" alt="">
			</div>
            <div class="col">
                <h1>{{ tresse.title}}({{tresse.price}}€)</h1>
                <span class="badge bg-primary">{{ tresse.category }}</span>
                <p>{{ tresse.description }}</p>
                <a href="#" class="btn btn-success btn-long">
                <i class="fas fa-shopping-cart"></i>
                Ajouter au panier
                </a>
            </div>
		</div>
	</div>
{% endblock %}
